.hero-container {
background-color: #282c34;
background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.hero-links-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero-button {
  margin-bottom: 23px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 10px;
  width: 300px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.hero-button-ig {
  background: rgb(245, 133, 41);
  background: linear-gradient(45deg, rgba(245, 133, 41, 1) 0%, rgba(221, 42, 123, 1) 28%, rgba(137, 51, 170, 1) 54%, rgba(129, 52, 175, 1) 76%, rgba(81, 91, 212, 1) 100%);
}

.hero-button-fb {
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
}

.hero-button:hover {
  border: 1px solid rgba(255,255,255,0.4);
}

.hero-button-ig:hover {
  background: linear-gradient(227deg, rgba(245, 133, 41, 1) 0%, rgba(221, 42, 123, 1) 28%, rgba(137, 51, 170, 1) 54%, rgba(129, 52, 175, 1) 76%, rgba(81, 91, 212, 1) 100%);
  background-color: #0688fa;
}

.hero-button-fb:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}

.hero-button:active {
  position: relative;
  top: 1px;
}

.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}