.Main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(100vh - 60px) 1fr;
}

.hero-container {
  background-color: #f7fffe;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100.00% 88.14%, 0px 95%);
  clip-path: polygon(0px 0px, 100% 0px, 100.00% 88.14%, 0px 95%);

}

.hero-links-container {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

#myVideo {
  max-width: 900px;
  width: 100%;
  filter: drop-shadow(16px 16px black);
  border: 2px solid black;
  border-radius: 2px;
}

h1 {
  color: black;
  text-shadow: 5px 3px rgb(181, 181, 181);
  margin-bottom: 2px;
}

h2 {
  max-width: 915px;
}

.hero-button {
  line-height: 50px;
  margin-bottom: 23px;
  border: 1px solid transparent;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 10px;
  width: 45px;
  height: 45px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.hero-button-ig {
  background: rgb(245, 133, 41);
  background: linear-gradient(45deg, rgba(245, 133, 41, 1) 0%, rgba(221, 42, 123, 1) 28%, rgba(137, 51, 170, 1) 54%, rgba(129, 52, 175, 1) 76%, rgba(81, 91, 212, 1) 100%);
}

.hero-button-fb {
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
}

.hero-button:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.hero-button-ig:hover {
  background: linear-gradient(227deg, rgba(245, 133, 41, 1) 0%, rgba(221, 42, 123, 1) 28%, rgba(137, 51, 170, 1) 54%, rgba(129, 52, 175, 1) 76%, rgba(81, 91, 212, 1) 100%);
  background-color: #0688fa;
}

.hero-button-fb:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}

.hero-button:active {
  position: relative;
  top: 1px;
}

.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}