.Navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 60px;
    align-items: center;
    font-family: "Stretch Pro";
    position: relative;
    z-index: 2;
}

.Navbar>.navbar-header {
    align-self: center;
}

.Navbar>.navbar-header>.navbar-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.Navbar>.navbar-btn {
    display: none;
}

.Navbar>.navbar-links {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.Navbar>.navbar-links>a {
text-decoration: none;
display: block;
color: #efefef;
padding: 20px 13px;
transition: all .2s ease;
}

.Navbar>.navbar-links>a:hover {
    background-color: #efefef;
    color: black;
}

.Navbar>#navbar-check {
    display: none;
}

@media (max-width:600px) {
    .Navbar>.navbar-btn {
        display: flex;
        align-self: normal;
    }
    
    .Navbar>.navbar-btn>label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        cursor: pointer;
    }

    .Navbar>.navbar-btn>label:hover,
    .navbar #navbar-check:checked~.navbar-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .Navbar>.navbar-btn>label>span {
        display: block;
        width: 25px;
        height: 2px;
        background: white;
        margin: 5px;
    }

    .Navbar>.navbar-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 60px;
        left: 0px;
    }

    .Navbar>.navbar-links>a {
        display: block;
    }

    .Navbar>#navbar-check:not(:checked)~.navbar-links {
        height: 0px;
    }

    .Navbar>#navbar-check:checked~.navbar-links {
        height: calc(100vh - 60px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}