body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Stretch Pro';
  font-weight: normal;
  font-style: normal;
  src: local('Stretch Pro'), url(../public/fonts/STRETCH\ PRO/StretchProBasic.woff2) format('woff2'), url(../public/fonts/STRETCH\ PRO/StretchProBasic.woff) format('woff1'), url(../public/fonts/STRETCH\ PRO/StretchPro-Basic.ttf) format('truetype');
}